<div class="sidebar" id="sidebar">
    <button id="close-button" class="close-btn">&#9776;</button>
    <img id="logo" src="{{ url_for('static', filename='assets/logo.jpg') }}" alt="Logo" class="logo" style="cursor: pointer;">

    
    <div class="menu">
        <a href="/inicio" class="{% if current == 'home' %}active{% endif %}">Inicio</a>
        <a href="/sopa" class="{% if current == 'sopa' %}active{% endif %}">Sopa de Letras</a>
        <a href="/imagen" class="{% if current == 'imagen' %}active{% endif %}">Crear Mandala</a>
        <a href="/ajustes" class="{% if current == 'ajustes' %}active{% endif %} ajustes">AJUSTES</a>
    </div>

    <button id="fullscreen-button" class="fullscreen-btn">🌐 Pantalla Completa</button>

    

</div>

<link rel="stylesheet" href="{{ url_for('static', filename='css/drawer.css') }}">

<div id="overlay" class="overlay hidden"></div>

<button id="open-button" class="open-btn hidden">&#9776;</button> <!-- Ícono de hamburguesa -->

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const sidebar = document.getElementById('sidebar');
        const closeButton = document.getElementById('close-button');
        const overlay = document.getElementById('overlay');
        const openButton = document.getElementById('open-button');
        const content = document.querySelector('.content');

        closeButton.addEventListener('click', function() {
            sidebar.classList.add('hidden');
            overlay.classList.add('hidden');
            openButton.classList.add('visible'); // Mostrar el botón en la posición visible
            content.classList.add('without-sidebar'); // Ajustar contenido
        });

        openButton.addEventListener('click', function() {
            sidebar.classList.remove('hidden');
            overlay.classList.remove('hidden');
            openButton.classList.remove('visible'); // Ocultar el botón al abrir el menú
            content.classList.remove('without-sidebar'); // Ajustar contenido
        });

        overlay.addEventListener('click', function() {
            sidebar.classList.add('hidden');
            overlay.classList.add('hidden');
            openButton.classList.add('visible'); // Mostrar el botón en la posición visible
            content.classList.add('without-sidebar'); // Ajustar contenido
        });
    });
</script>

<script>
    document.getElementById('logo').onclick = function() {
        window.location.href = '/';
    };
</script>

<script>
    document.getElementById('fullscreen-button').addEventListener('click', function() {
    if (!document.fullscreenElement) {
        document.documentElement.requestFullscreen().catch(err => {
            console.error(`Error al intentar activar pantalla completa: ${err.message} (${err.name})`);
        });
    } else {
        document.exitFullscreen();
    }
});

</script>