<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/welcome.css') }}">
    

</head>
<body>
    <div class="container">
        <div class="content">
            <div>
                <h1>Welcome to pintor</h1>
                <p>Selecciona una opción del menú para ver el contenido aquí.</p>
                <a href="/inicio">Ingresar</a>
                <a href="/ingresar">Inicia Sesión</a>

            </div>
        </div>
    </div>
</body>
</html>
