.sidebar {
  max-width: 300px;
  width: 250px;
  background-color: rgb(0, 122, 255);
  color: white;
  padding: 20px;
  box-sizing: border-box;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  transition: transform 0.3s ease;
  transform: translateX(0); /* Visible al inicio */
  z-index: 10;
}

.hidden {
  transform: translateX(-100%); /* Fuera de la vista */
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent; /* Cambiado a transparente */
  z-index: 5;
}

.open-btn {
  position: fixed;
  top: 20px;
  left: -100px; /* Mueve el botón fuera de la vista por defecto */
  background-color: rgb(0, 122, 255);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;
  font-size: 24px;
  transition: left 0.3s ease; /* Suaviza la transición de la posición */
}

/* Mostrar el botón al cerrar el drawer */
.open-btn.visible {
  left: 80px; /* Posición visible del botón cuando el drawer está cerrado */
}

.logo {
  margin-top: 18%;
  max-width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 20px;
}

.menu {
  margin-top: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar a {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 10px 0;
  background-color: rgb(0, 98, 255);
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
  width: 100%;
}

.sidebar a:hover {
  background-color: rgb(0, 78, 200);
}

.ajustes {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 10px 0;
  background: linear-gradient(145deg, #ff6f00, #ff9600);
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.ajustes:hover {
  background: linear-gradient(145deg, #ff9600, #ff6f00);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5);
}

.sidebar a.active {
  font-weight: bold;
  font-size: large;
  background-color: rgb(187, 22, 137);
  color: white;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 250px; /* Ancho del sidebar al inicio */
  transition: margin-left 0.3s ease; /* Transición suave */
}

.content.without-sidebar {
  margin-left: 0; /* Ancho del sidebar cerrado */
}
