body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  /* background-color: rgb(255, 234, 0); Amarillo */
}

.container {
  display: flex;
  width: 100%;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 250px; /* Ancho del sidebar al inicio */
  transition: margin-left 0.3s ease; /* Transición suave */
}

.content.without-sidebar {
  margin-left: 0; /* Ancho del sidebar cerrado */
}

.content h1 {
  margin-top: 0;
}

.button {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 10px 0;
  background: linear-gradient(145deg, #ff6f00, #ff9600);
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
  background: linear-gradient(145deg, #ff9600, #ff6f00);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5);
}
